@model WorkerDetailModel

<div class="row mt-3">
    <div class="col-md-12">
        <h2 class="h4">Sürücülük Haqqında</h2>
        <span>
            <img style="width:200px;" src="~/img/@Model.User.Email/@Model.User.ImgUrl" class="img-fluid" alt="Yüklənmədi" />
            <h5 class="card-text">@Model.User.FirstName @Model.User.LastName</h5>
        </span>
    </div>
    @if (Model.DL != null)
    {
        <hr />
        <div class="row">
            <div class="col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <p class="h5 card-text">Verən Orqan     : @Model.DL.IssuingAuthority</p>
                        <p class="h5 card-text">Seriya Nömrəsi  : @Model.DL.DL_SerialNumber</p>
                        <p class="h5 card-text">Kateqoriya      : @Model.DL.Categories</p>
                        <p class="h5 card-text">Başlama         : @Model.DL.StartDate</p>
                        <p class="h5 card-text">Bitmə           : @Model.DL.ExpirationDate</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-2">
                <div>
                    <img style="width:300px;" src="~/img/@Model.User.Email/@Model.DL.ImgUrl" class="img-fluid" alt="Yüklənmədi" />
                    <form asp-controller="Admin" asp-action="DownloadFile" method="post">
                        <input type="hidden" name="filePath" value="@Model.DL.ImgUrl" />
                        <input type="hidden" name="Email" value="@Model.User.Email" />
                        <button type="submit" class="m-1">Şəkli Endir</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3 mt-2">
                <div>
                    <img style="width:300px;" src="~/img/@Model.User.Email/@Model.DL.PDFUrl" class="img-fluid" alt="Yüklənmədi" />
                    <form asp-controller="Admin" asp-action="DownloadFile" method="post">
                        <input type="hidden" name="filePath" value="@Model.DL.PDFUrl" />
                        <input type="hidden" name="Email" value="@Model.User.Email" />
                        <button type="submit" class="m-1">PDF-i Endir</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <hr />
        <div class="row">
            <div class="col-md-6 mt-2">
                <p class="h4 card-text">Hər hansı məlumat yoxdur</p>
            </div>
        </div>
    }
</div>